<h1> New Recipe </h1>

<form action="/recipes" method="post">
  <label for="recipe[title]">Title:</label>
  <input name="recipe[title]">

  <label for="recipe[description]">Description:</label>
  <input name="recipe[description]" style="height: 60px">

  <label for="recipe[servings]">Servings:</label>
  <input name="recipe[servings]">
  <br>

 <input type="submit" value="Create">
</form>

<!--   <label for="course[title]">Course: </label>
  <select class="form-control" type="text" name="course[title]">
    <option value="Starter">Starter Course</option>
    <option value="Soup">Soup Course</option>
    <option value="Salad">Salad Course</option>
    <option value="Main" selected>Main Course</option>
    <option value="Dessert">Dessert Course</option>
  </select>

  <label for="ingredient[titile]">Ingredients:</label>
  <input name="ingredient[title]"> -->

